@keyframes heartbeat {
    0%, 100% {
      transform: scale(1);
    }
    25%, 75% {
      transform: scale(1.2);
    }
    50% {
      transform: scale(1.4);
    }
  }
  
  .pulse {
    animation: heartbeat 1.5s infinite;
  }
  